<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>
<br>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %> <br> <%= review.rating %></li>
    <br>
  <% end %>
</ul>
<br>
<br>
<%= link_to "Back to list", "/restaurants", class: "btn btn-primary" %>
<br>
<br>
<%= link_to "Edit this restaurant", edit_restaurant_path(@restaurant), class: "btn btn-primary" %>
<br><br>
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
<br><br>
<%= link_to "Delete #{@restaurant.name}",
            restaurant_path(@restaurant),
            class: "btn btn-primary",
            method: :delete,
            data: { confirm: "Are you sure?" } %>
